
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 70%;
    max-height: 100vh;
    padding: 12px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid slategray;
    border-radius: 12px;
}

.title {
    font-size:xx-large;
}

.new-task {
    display: flex;
    width: 90%;
    gap: 12px;
    height: auto;
    padding: 10px;
}

.write {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-left: 10px;
}

.button {
    width: 20%;
    border: none;
    border-radius: 8px;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}

.list-container {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 16px;
}

.list-element {
    list-style: none;
    text-decoration: none;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.10);
}

.mark .paragraph{
    opacity: 0.6;
    text-decoration: line-through;
}

.paragraph {
    display: flex;
    flex: 1;
    padding-left: 12px;
}

.button-delete {
    width: 20%;
    height: 80%;
    border: none;
    border-radius: 8px;
    background-color:crimson;
    color: white;
    cursor: pointer;
}